/* Reset og border-box á allt */
html {
  box-sizing: border-box;
  display:grid;
  font-family: var(--font-family);
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --spacing: 1rem;
  --max-width: 56rem;

  --font-family: -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --columns: 12;
  --gutter: 30px;
  --offset: 50px;

}

img {
  max-width: 100%;
}


input,
select,
button {
  font-size: inherit;
}

input[type='number'] {
  padding-inline-start: calc(var(--spacing) / 2);
}

button {
  padding-inline: calc(var(--spacing) / 2);
}

h1 {
  font-size: 2rem;
  margin-block-end: var(--spacing);
}

h2 {
  font-size: 1.5rem;
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
  flex: 1;
  /* margin: auto; */
  margin: var(--spacing) auto;
  padding-inline: var(--spacing);
  max-width: var(--max-width);
}


h1,
.loading {
  margin: auto;
}

form.search {
  margin: auto;
  display: flex;
  gap: var(--spacing);
}

.results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.result {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 4);

  padding: calc(var(--spacing) / 2);

  /* Texti í flútti við fyrirsögn */
  margin-left: calc(var(--spacing) / -2);
  margin-right: calc(var(--spacing) / -2);
}


/* Headerar og allt sem er inni í þeim */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  background: #0a0a0a;
 

}

.header {
  font-size: 4em;
  font-weight: bold;
  color: #fffafa;
  padding-top: 2rem;
}

.navigation-bar {
  flex-direction: column;
  align-items: flex-end;
  color: #f5f5f5;
  padding-top: 2rem;
}



.navigation-bar ul{
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

.navigation-bar li {
  padding: 0 1em;
  display: inline;
   margin-left: 1em;
}

.navigation-bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 0;
}


* {

  margin: 0;
  padding: 0;
}
/* Endar hér */


/* Boxin */
.val a:hover {
  text-decoration: underline;
}

.categories{
  list-style: none;
  font-size: large;
  font-weight: 500;

  text-align: center;
  border: 1px solid #313131;
  padding: 10px;
}

.categoryHeader {
  grid-column: 1 / -1; 
  text-align: left;
  font-size: 1.3em;
  font-weight: 600;
}

.verd{
  font-size: 1.3em;
  font-weight: 600;
  text-align: right; 
}

.description{
  margin: 1.5em;
  font-size: 1.1em;
  display: inline;
}

.category{
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

.box {
  width: calc(50% - var(--spacing)); /* Adjust width and spacing as needed */
  margin-bottom: var(--spacing);
}

a {
  font-size: 1em;
  font-weight: 600;
  color: #313131;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing));
}

/*Endar hér*/


/* Skalanleiki */
@media (max-width: 840px){
  .navigation-bar, .header{
    font-size: 0.8rem;
  }
}

@media (max-width: 840px){
  .header{
    font-size: 2rem;
  }
}

@media (max-width: 840px){
  header{ display: flex;
    justify-content: space-between;}
}

@media (max-width: 522px){

    header {
     display:block;
     text-align: center
     
    }
}

@media (max-width: 522px){

  main h1 {
   padding-top:50px;
   align-items: left;
  }
}

@media (max-width: 522px){

.productContainer {
  display: flex;
  flex-direction: column; /* Arrange images vertically */
  align-items: center;

}

}

@media (max-width: 522px){

  .productSection a {
    padding-right: 250px;
  }
}

@media (max-width: 522px){

   .productContainer  {
    padding-left: 100px;

  }
}

@media (max-width: 522px){
  .frontpageCategoryContainer{
    display: contents;
  }
  
}

@media (max-width: 700px) {
  .productSection {
    flex: 1 0 calc(50% - 20px); /* Two items per row on smaller screens */
  }
}



/* Endar hér */

/* Containerar */

.frontpageCategoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px; 
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.vorucontainer{
  block-size: 2rem;
  inline-size: 1.5rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Adjust as needed */
}

.productSection {
  flex: 1 0 calc(33.333% - 20px); 
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}
